<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet Banking | Login</title>
    <!-- <link rel="icon" type="image/x-icon" href="{{ url_for ('static', filename = 'images/favicon.ico')}}"> -->
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/user_dashboard.css')}}">
</head>
<body>
    <div class="container">
        <div class="header">
        <div class="action">
          <div class="dropdown">
            <span class="dropdown-item">Transfer</span>
            <div class="dropdown-content">
              <div class="dropdown-item">
                <form action="" method="post">
                  <input type="text" class="text-field" placeholder="Account Number" name="account" required>
                  <input type="number" class="text-field" placeholder="Amount" name="amount" required>
                  <button class="send-button" name="send">Send</button>
                </form>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <span class="dropdown-item">Request Loan</span>
            <div class="dropdown-content">
              <div class="dropdown-item">
                <input type="text" class="text-field" placeholder="Reason">
                <input type="text" class="text-field" placeholder="Amount">
                <button class="send-button">Submit</button>
              </div>
            </div>
          </div>
        </div>
          <div class="balance-score">
            <!-- <h1>Balance: {{ balance }}</h1> -->
            <p>Credit Score: {{ credit_score | round(0) }}</p>
          </div>
        </div>
        <div class="finance-themed bulky">
          <div class="dashboard-text-title">Welcome to your bank!</div>
          <div class="dashboard-text">Your account balance is <span>{{balance}}</span>.</div>
          <div class="dashboard-text">Your credit score is <span>{{credit_score | round(0) }}</span>.</div>
          <div class="dashboard-text">Bank Account: {{account_no}}</div>
        </div>
        <div class="news-section">
          <h2>Recent News</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus lectus nonlorem dignissim et. Ut in consectetur nibh. Integer eu ligula in enim malesuada aliquam. Suspendisse potenti. Fusce non magna quis felis efficitur vestibulum eu ac mi. Vivamus in lacinia ante, vitae pharetra enim. Sed ut leo id risus rutrum fermentum. Phasellus nec est vitae mauris tristique ullamcorper non vitae ex. Sed posuere, dui non gravida tincidunt, eros est eleifend ligula, sit amet eleifend est urna non dolor. Nam sed augue id ipsum euismod pellentesque ac at lorem. Sed sit amet enim molestie, viverra nunc at, tincidunt tortor.</p>
          <p>Proin ultricies, lacus eget interdum luctus, nisi nisl eleifend mi, sit amet convallis enim sem at nibh. Etiam efficitur porttitor justo, et auctor metus tincidunt sed. Vivamus et sollicitudin nunc. Duis in lacinia purus. Sed vitae turpis varius, molestie tortor quis, sollicitudin neque. Mauris lacinia tellus eget enim imperdiet, eget blandit lorem mollis. Cras eu ex vel justo lacinia ultricies. Praesent vel nisl nunc. Nullam id facilisis nunc, nec malesuada orci. Integer non fringilla risus. Integer convallis, ipsum ut hendrerit lobortis, turpis sapien commodo orci, vel facilisis enim erat sit amet quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
      </div>
      <div class="heading">Transactions</div>
      <div class="table-container">
        <table>
          <thead>
              <tr>
                  <th>Bank ID</th>
                  <th>Transaction ID</th>
                  <th>Account No</th>
                  <th>Debit/Credit</th>
                  <th>Date</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
              {% for transaction in transactions %}
              <tr>
                  <td>{{ transaction.bank_id }}</td>
                  <td>{{ transaction.transaction_id }}</td>
                  <td>{{ transaction.account_no }}</td>
                  <td>{{ transaction.debitcredit }}</td>
                  <td>{{ transaction.date }}</td>
                  <td>{{ transaction.status }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="heading">Loans</div>
      <div class="table-container">
        <table>
          <thead>
              <tr>
                  <th>Bank ID</th>
                  <th>Loan ID</th>
                  <th>Account No</th>
                  <th>Loan Amount</th>
                  <th>Remaining</th>
                  <th>Interest Rate %</th>
                  <th>Default Due</th>
              </tr>
          </thead>
          <tbody>
              {% for loan in loans %}
              <tr>
                  <td>{{ loan.bank_id }}</td>
                  <td>{{ loan.loan_id }}</td>
                  <td>{{ loan.account_no }}</td>
                  <td>{{ loan.loan_amount }}</td>
                  <td>{{ loan.remaining }}</td>
                  <td>{{ loan.interest_rate }}</td>
                  <td>{{ loan.date_due }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
</body>
</html>